button {
  margin: 5px;
  margin-left: 200px;
  padding: 5px;
  border: 1px solid black;
}

.btn-hover {
  font-size: 16px;
  font-weight: 600;
  width: 200px;
  height: 55px;
  margin: 20px;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  text-align: center;
  color: #fff;
  border: none;
  border-radius: 50px;
  background-size: 300% 100%;
  moz-transition: all .4s ease-in-out;
}

.btn-hover:hover {
  -webkit-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-2 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, .75);
}

.btn-hover.color-7 {
  background-image: linear-gradient(to right, #6253e1, #852d91, #a3a1ff, #f24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, .75);
}

button {
  font-size: 1.2em;
  position: relative;
  display: inline-block;
  /* background: transparent; */
  width: 250px;
  margin: 1em auto;
  padding: 10px 0;
  cursor: pointer;
  border: 2px solid tomato;
  border-radius: 10px;
  background-color: rgba(214, 219, 178, 1);
}

#shuffler {
  position: relative;
  bottom: 90px;
  left: 400px;
}

@media (max-width:600px) {
  #headline {
    font-size: 20px;
  }

  #shuffler {
    font-size: 20px;
    bottom: 50px;
    left: 20px;
    width: 100px;
  }
}

article {
  font-size: 2em;
  position: relative;
  top: 50%;
  width: 80%;
  margin: auto;
  transform: translateY(-50%);
}
