body {
  font-family: helvetica;
  margin: 0;
  background-color: lightblue;
  border:1px solid black;
}

h1 {
  text-align: center;
}

p {
  text-align: center;

}
button {
  margin:5px;
  margin-left: 200px;
  padding:5px;
  border:1px solid black;

}

main {
  height: 200px;
  border: 2px solid black;
}
input {
  margin:5px;
  margin-left: 200px;
  padding:4px;
  border:1px solid black;

}
ul {
  display:inline;

}

li {
  background-color:tomato;
  border-radius:10px;
  box-shadow: 10px 10px black;
}

#receviedKey {
  display: inline-block;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: tomato;
}

/* Add book stars here */
.addBook-container {
  height: 200px;
  padding: 20px;
  background-color: gray
  border:1px solid black;

}

.view-books-container {
  height: 300px;
  border: 1px solid black;
  background-color: lightblue;
  border:1px solid black;

}
.modifyBooks{
  background-color:gray;
  height:300px;
  border:1px solid black;

}

.deletebook {
  height:200px;
  background-color:tomato;
}
