body {
  font-family: helvetica;
  margin: 0;
  border: 1px solid black;
  background-color: lightblue;
}

h1 {
  text-align: center;
}

p {
  display: inline-block;
  text-align: center;
  background-color: lightblue;
}

button {
  margin: 5px;
  margin-left: 200px;
  padding: 5px;
  border: 1px solid black;
}

main {
  height: 200px;
  border: 2px solid black;
}

input {
  margin: 5px;
  margin-left: 200px;
  padding: 4px;
  border: 1px solid black;
}

ul {
  display: inline;
}

li {
  justify-content: space-between;
  background-color: tomato;
  box-shadow: 10px 10px black;
  Display: flex;
  Flex-direction: row;
  Justify-content: space-between;
  Align-items: center;
}

#receviedKey {
  display: inline-block;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  background-color: tomato;
}

/* Add book stars here */
.addBook-container {
  height: 200px;
  padding: 20px;
  background-color: gray border:1px solid black;
}

.view-books-container {
  height: 300px;
  border: 1px soxlid black;
  border: 1px solid black;
  background-color: lightblue;
}

.modifyBooks {
  height: 300px;
  border: 1px solid black;
  background-color: gray;
}

.deletebook {
  height: 200px;
  background-color: tomato;
}

#deleteOutput {
  margin-left: 450px;
}
